{% extends 'reducUrl/base.html' %}

{% block title %}Кабинет пользователя{% endblock %}

{% block content %}
<div class="container">
    <div class="form-section">
        <h1>Кабинет пользователя</h1>
        {% if messages %}
        {% for mess in messages %}
        <div class="mess_prof">{{ mess }}</div>
        {% endfor %}
        {% endif %}
        <div class="profile">
            <div class="profile_vid">
                <img class="user_images" src="{{ user.profile.img.url }}">
                <p><b>@{{ user.username }}</b></p>
                {% if user.email %}
                <p><b>Email:</b> {{ user.email }}</p>
                {% endif %}
                <div class="profile_btn">
                    <a href="{% url 'exit' %}">
                        <button class="profile__btn">Выйти из кабинета</button>
                    </a>
                </div>
            </div>
            <div class="profile__iz">
                <h2>Изменить данные про пользователя</h2>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ update_user }}
                    {{ img_profile }}
                    <div class="profile_btn">
                        <button type="submit" class="profile__btn">Обновить данные</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}